<div class="my-info">
	<a class="header" href="/">
		<div class="name">
			<div class="name-main">あめろ</div>
			<div class="name-sub">amero</div>
		</div>
		<div class="avatar">
			<!--img src="/assets/images/?" alt="amero的头像"-->
			<div style="background: linear-gradient(100deg, #6278B3, #8D6D9B);">
				<div style="color: #FFF2; position: absolute; inset: 0; display: flex; align-items: center; justify-content: center;">头像</div>
			</div>
		</div>
	</a>

	<div class="nav">
		<ul>
			<li><a href="#">分类 4</a></li>
			<li><a href="#">标签 5</a></li>
			<li><a href="#">RSS</a></li>
			<li><a href="#">页面 6</a></li>
		</ul>
	</div>
</div>

<div class="divider"></div>

{%- if page.previous -%}
<a class="prev-post" href="{{ page.previous.url }}">
	<div class="indicator">前一篇</div>
	<div class="title">{{ page.previous.title }}</div>
	<div class="image">
		<!-- img -->
		<div style="background: linear-gradient(100deg, #6278B3, #8D6D9B);"></div>
	</div>
</a>
{%- endif -%}

{%- if page.next -%}
<a class="next-post" href="{{ page.next.url }}">
	<div class="indicator">后一篇</div>
	<div class="title">{{ page.next.title }}</div>
	<div class="image">
		<!-- img -->
		<div style="background: linear-gradient(100deg, #6278B3, #8D6D9B);"></div>
	</div>
</a>
{%- endif -%}
