<div class="my-info">
	<a class="header" href="/">
		<div class="name">
			<div class="name__main">あめろ</div>
			<div class="name__sub">amero</div>
		</div>
		<div class="avatar">
			<div class="content" data-prompt="{% if page.url == '/' %}刷新{% else %}首页{% endif %}">
				{%- include image.html image=site.prof_image defaultAlt='amero的头像' -%}
			</div>
		</div>
	</a>

	<div class="nav">
		<ul>
			{%- for item in site.data.profile_link -%}
				<li><a href="{{ item.href }}">{{ item.name }}</a></li>
			{%- endfor -%}
		</ul>
	</div>
</div>

<div class="divider"></div>

{%- if page.previous -%}
<a class="nav-post-link prev-post" rel="prev" href="{{ page.previous.url }}">
	<div class="indicator">前一篇</div>
	<div class="title">{{ page.previous.title }}</div>
	<div class="post-image" data-prompt="查看">
		{%- include image.html image=page.previous.image defaultSrc='https://s2.loli.net/2023/05/01/p3yAQuOvtqgo7lI.png' defaultAlt='文章图像' -%}
	</div>
</a>
{%- endif -%}

{%- if page.next -%}
<a class="nav-post-link next-post" rel="next" href="{{ page.next.url }}">
	<div class="indicator">后一篇</div>
	<div class="title">{{ page.next.title }}</div>
	<div class="post-image" data-prompt="查看">
		{%- include image.html image=page.next.image defaultSrc='https://s2.loli.net/2023/05/01/p3yAQuOvtqgo7lI.png' defaultAlt='文章图像' -%}
	</div>
</a>
{%- endif -%}
