{% if page.url != '/' -%}
<aside class="toc">
	<h2>目录</h2>
	<ol>
		<li><a href="#">标题1</a></li>
		<li><a href="#">标题2</a></li>
		<li class="current"><a href="#">标题3</a></li>
		<li><a href="#">标题4</a></li>
		<li><a href="#">标题5</a></li>
		<li><a href="#">标题6</a></li>
		<li><a href="#">标题7</a></li>
	</ol>
</aside>
{%- endif -%}

<ul class="site-tools">
	<li><a href="#">
		<!-- svg -->
		回到顶部
	</a></li>
	<li><a href="#">
		<!-- svg -->
		深色模式
	</a></li>
	<li><a href="#">
		<!-- svg -->
		排版设置
	</a></li>
	<li><a href="#">
		<!-- svg -->
		分享
	</a></li>
</ul>
