$lh: 1.6;

h2 {
	margin-bottom: 1rem;
}

.page-list {
	@extend %block-list;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	gap: 1rem;
	
	> li {
		@extend %card;
	}

	article {
		padding: 1rem;
	}

	h3 {
		font-size: 1.375rem;
		line-height: 1.3;
		margin-bottom: .5rem;
	}

	.excerpt {
		line-height: 1.4;
		padding-left: 2rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background:
				url("/assets/images/nopush/quote_left.svg")
				center/contain no-repeat;
			display: block;
			height: 1.5rem;
			width: 1.5rem;
		}
		p::after {
			content: "\20……";
			opacity: .8;
		}
	}

	[data-element] {
		font-style: normal;
	}
}

$padding-horizontal: 4rem;

.post {
	@extend %card;

	padding: 3rem 0 2rem;

	&-label {
		display: flex;
		flex-wrap: wrap;
		font-size: .875rem;
		line-height: 1.5;
		color: #777;
		margin-left: $padding-horizontal;
		margin-right: $padding-horizontal - 2rem;
		margin-bottom: -.5rem;
	}
	
	&-category-wrapper {
		flex-grow: 1;
	}

	&-category, &-tag {
		@extend %block-list;
		display: inline-flex;
		margin-right: 1.5rem;
		li {
			margin: 0 .5rem .5rem 0;
			
			> a {
				@extend %center-items;
				background-color: #00000011;
				min-width: 2.5rem;
				padding: 0 .6em;
				border-radius: .7em;
			}
		}		
	}

	&-header {
		margin: 1rem $padding-horizontal;
		// position: sticky;
		// top: 0;
	}

	h1 {
		font-size: 2.25rem;
		line-height: 1.2;
		margin: 0 0 .875rem;
		// &::after {
		// 	content: "";
		// 	display: block;
		// 	height: .125rem;
		// 	margin: 1rem -.5rem 0;
		// 	background-color: #6A55A8;
		// }
	}

	&-meta {
		color: #777;
	}

	.post-image {
		height: 16rem;
		img {
			@extend %image-cover;
		}
		@extend %full-after;
		&::after {
			box-shadow:
				inset 0 0.25rem 0.25rem -0.25rem #0004,
				inset 0 -0.25rem 0.25rem -0.25rem #0001;
		}
	}
}

.post-content {
	$vertical-gap: 1rem;
	padding: 1rem $padding-horizontal 0;
	min-height: 32rem;
	line-height: $lh;
	text-align: justify;

	h2, h3, h4, h5, h6, p, dl, ol, ul {
		margin-bottom: $vertical-gap;
	}

	p {
		// text-indent: 2em;
		// text-indent: 2ic;
		margin-bottom: 1em;
	}

	ol, ul {
		padding-left: 2rem;
		li p {
			text-indent: 0;
		}
	}

	pre, code {
		tab-size: 4;
	}

	> .highlighter-rouge {
		font-size: .875rem;
		margin-left: -$padding-horizontal;
		margin-right: -$padding-horizontal;
		padding: 1rem $padding-horizontal;
		margin-bottom: 1rem;
		background-color: #fafafb;
		line-height: 1.4;
		
		&::after {
			box-shadow:
				inset 0 0.25rem 0.25rem -0.25rem #0004,
				inset 0 -0.25rem 0.25rem -0.25rem #0001;
		}
		@extend %full-after;
	}

	:target {
		outline: solid .25rem rgba(66,31,255,.3);
		border-radius: .25rem;
		animation: tgt-fade 2s ease-in forwards;
		@keyframes tgt-fade {
			from {
				outline-color: rgba(66,31,255,0);
			}
			25% {
				outline-color: rgba(66,31,255,.3)
			}
			75% {
				outline-color: rgba(66,31,255,.3)
			}
			to {
				outline-color: rgba(66,31,255,0);
			}
		}
	}
}
 

// 引用
blockquote {
	padding-left: 2rem;
	background:
		url(/assets/images/nopush/quote_left.svg)
		0 .25rem / 1.5rem no-repeat;
}

// 任务列表
.task-list {
	list-style: none;
}
.task-list-item-checkbox {
	display: inline-block;
	appearance: none;
	width: 1em;
	height: 1em;
	margin-left: -1.5rem;
	margin-right: .5rem;
	border-radius: .25em;
	border: solid .1em #774cac;
	background-color: #774cac20;
	vertical-align: top;
	position: relative;
	top: #{($lh - 1) / 2}em;

	&:checked {
		background:
			// 源文件在assets/images/nopush/check.svg
			url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjAiIGlkPSJjaGVjay1pbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDY0IDQ3Ij48cG9seWxpbmUgcG9pbnRzPSI0LDE4IDI1LDM5IDYwLDQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxMCI+PC9wb2x5bGluZT48L3N2Zz4=")
			center / contain no-repeat #774cac;
	}
}

// 脚注
.footnote {
	display: inline-block;
	text-indent: 0;
	background-color: #774cac;
	line-height: 1rem;
	min-width: 1rem;
	color: #fff;
	border-radius: 1rem;
	text-align: center;
	padding: 0 .375em;
}
