// <color>
$color-text: #2b253b;
$color-subtext: #666;
$color-heading: $color-text;
$color-link: #639;
$color-accent: #9767d2;

$color-bg-truth: #352f47;
$color-bg-block: #faf9fb;

// <length>
$length-1:  ( 1rem / 16); // .0625rem
$length-2:  ( 2rem / 16); // .125rem
$length-3:  ( 3rem / 16); // .1875rem
// $length-4:  ( 4rem / 16); // .25rem
$length-5:  ( 5rem / 16); // .3125rem
$length-6:  ( 6rem / 16); // .375rem
$length-7:  ( 7rem / 16); // .4375rem
// $length-8:  ( 8rem / 16); // .5rem
$length-9:  ( 9rem / 16); // .5625rem
$length-10: (10rem / 16); // .625rem
$length-11: (11rem / 16); // .6875rem
// $length-12: (12rem / 16); // .75rem
$length-13: (13rem / 16); // .8125rem
$length-14: (14rem / 16); // .875rem
$length-15: (15rem / 16); // .9375rem

$size-text-xxs: .75rem;
$size-text-xs: $length-14;
$size-text-s: $length-15;
$size-text: 1rem;
$size-text-l: 1.5rem;
$size-text-xl: 2rem;
$size-text-xxl: 3rem;
