// color
$text-color: #2b253b;
$text-color-sub: #666;
$text-color-heading: $text-color;
$text-color-link: rebeccapurple;

$bg-color-truth: #352f47;

// size
$text-size: 1rem;
$text-size-xxs: .75rem;
$text-size-xs: .875rem;
$text-size-s: .9375rem;
$text-size-l: 1.5rem;
$text-size-xl: 2.25rem;
$text-size-xxl: 3rem;
