$font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-sans:
	Ubuntu,
	-apple-system, BlinkMacSystemFont,
	"PingFang SC", "MicroSoft YaHei",
	"Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
	$font-emoji,
	sans-serif;
$font-mono:
	"JetBrains Mono",
	ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
	/* Firefox你坏事做尽！为什么要用宋体当默认等宽字体啊！ */
	$font-sans;

// Ubuntu永远的神！
// https://github.com/canonical/Ubuntu-fonts
@font-face {
	font-family: Ubuntu;
	src: url("/assets/fonts/ubuntu/Ubuntu%5Bwdth%2Cwght%5D.woff2") format("woff2-variations");
	font-style: normal;
	font-weight: 100 800;
	font-stretch: 75% 100%;
}

@font-face {
	font-family: Ubuntu;
	src: url("/assets/fonts/ubuntu/Ubuntu-Italic%5Bwdth%2Cwght%5D.woff2") format("woff2-variations");
	font-style: italic;
	font-weight: 300 800;
	font-stretch: 75% 100%;
}

// JetBrains Mono永远的神！
// https://github.com/JetBrains/JetBrainsMono
@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono");
		// local("JetBrains Mono"),
		// url("/assets/fonts/jbmono/JetBrainsMono-Regular.woff2") format("woff2");
		font-style: normal;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Italic");
		// local("JetBrains Mono Italic"),
		// url("/assets/fonts/jbmono/JetBrainsMono-Italic.woff2") format("woff2");
		font-style: italic;
}


html {
	font-family: $font-sans;
}

pre, code, kbd, samp {
	font-family: $font-mono;
}

a {
	color: $text-color-link;
	
	&:visited {
		color: $text-color-link;
	}
}

$site-footer-height: 3rem;
$layout-radius: .5rem;
$layout-shadow: 0 0 .5rem rgba(0,0,0,.03), 0 .25rem 1rem rgba(0,0,0,.07);
$left-panel-width: 16rem;

%center-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

%full {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

%embeded-block {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		pointer-events: none;
		box-shadow:
			inset 0 0.25rem 0.25rem -0.25rem #0002,
			inset 0 -0.25rem 0.25rem -0.25rem #0001;
	}
}

%image-cover {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

%block-list {
	padding: 0;
	list-style: none;
}

%card {
	border-radius: $layout-radius;
	box-shadow: $layout-shadow;
	background-color: #FFF;
	overflow: hidden;
}

%clear-bottom {
	&::after {
		display: table;
		clear: both;
		content: "";
	}
}

%no-select {
	    -ms-user-select: none;
	   -moz-user-select: none;
	-webkit-user-select: none;
	        user-select: none;
}

.right {
	text-align: right;
}
