.highlighter-rouge {
	.hll { background-color: #ffffcc }
	.err { color: #a40000; border: 1px solid #ef2929 } // Error
	.x { color: $color-text } // Other
	.p { color: #d0155f } // Punctuation

	// Comment
	// 候选色：#756677
	.c  { color: #9f5d00 } // Comment
	.cm { color: #9f5d00 } // .Multiline
	.cp { color: #756677 } // .Preproc
	.c1 { color: #9f5d00 } // .Single
	.cs { color: #9f5d00 } // .Special

	// Generic
	.g { color: $color-text } // Generic
	.gd { color: #a40000 } // .Deleted
	.ge { color: $color-text; font-style: italic } // .Error
	.gr { color: #ef2929 } // .Error
	.gh { color: #000080 } // .Heading
	.gi { color: #00A000 } // .Inserted
	.go { color: $color-text; font-style: italic } // .Output
	.gp { color: #9f5d00 } // .Prompt
	.gs { color: $color-text } // .Strong
	.gu { color: #800080 } // .Subheading
	.gt { color: #a40000 } // .Traceback

	// Keyword
	.k  { color: #950a88 } // Keyword
	.kc { color: #950a88 } // .Constant
	.kd { color: #0e42b5 } // .Declaration
	.kn { color: #950a88 } // .Namespace
	.kp { color: #950a88 } // .Pseudo
	.kr { color: #950a88 } // .Reserved
	.kt { color: #0e42b5 } // .Type
	// 候选色：#5840b7

	// Literal
	// 候选色：#0f48c4
	.l  { color: $color-text } // Literal
	.ld { color: $color-text } // .Date
	.m, // .Number
	.mf, // .Number.Float
	.mh, // .Number.Hex
	.mi, // .Number.Integer
	.il, // .Number.Integer.Long
	.mo { color: #0069b7 } // .Number.Oct
	.s  { color: #007c0c } // .String
	.sb { color: #007c0c } // .String.Backtick
	.sc { color: #007c0c } // .String.Char
	.sd { color: #9f5d00 } // .String.Doc
	.s2 { color: #007c0c } // .String.Double
	.se { color: #950a88 } // .String.Escape
	.sh { color: #007c0c } // .String.Heredoc
	.si { color: #007c0c } // .String.Interpol
	.sx { color: #007c0c } // .String.Other
	.sr { color: #007c0c } // .String.Regex
	.s1 { color: #007c0c } // .String.Single
	.ss { color: #007c0c } // .String.Symbol

	// Name
	.n  { color: $color-text } // Name
	.na { color: #a75329 } // .Attribute
	.nb { color: #005d75 } // .Builtin
	.bp { color: #005d75 } // .Builtin.Pseudo
	.nc { color: $color-text } // .Class
	.no { color: $color-text } // .Constant
	.nd { color: #5c35cc } // .Decorator
	.ni { color: #950a88 } // .Entity
	.ne { color: #cc0000 } // .Exception
	.nf { color: $color-text } // .Function
	.nl { color: $color-text; font-style: italic; } // .Label
	.nn { color: $color-text } // .Namespace
	.nx { color: $color-text } // .Other
	.py { color: $color-text } // .Property
	.nt { color: #0e42b5 } // .Tag
	.nv { color: $color-text } // .Variable
	.vc { color: $color-text } // .Variable.Class
	.vg { color: $color-text } // .Variable.Global
	.vi { color: $color-text } // .Variable.Instance

	// Operator
	.o  { color: #c23f00 } // Operator
	.ow { color: #c23f00 } // .Word

	// Text
	.w  { color: #f8f8f8; text-decoration: underline } // .Whitespace
}
