code.highlighter-rouge {
	font-size: .9375em;
	background-color: #0001;
	padding: 0 .2em;
	border-radius: .2rem;
}


del {
	color: $text-color-sub;
	text-decoration-color: $text-color;
}

// 着重号
em {
	font-style: normal;
	-webkit-text-emphasis: dot;
	        text-emphasis: dot;
	-webkit-text-emphasis-position: under right;
	        text-emphasis-position: under right;
	// 这个逼玩意能不能不要改我行高啊！
}

// 黑幕
.truth, .truth a {
	color: transparent;
	transition: color .15s linear;
}

.truth {
	$radius: .2rem;

	background-color: $bg-color-truth;
	border-radius: $radius;	

	// 内嵌ruby	
	&:has(> ruby:first-child) {
		border-top-left-radius: 0;
	}
	&:has(> ruby:last-child) {
		border-top-right-radius: 0;
	}
	rt {
		background-color: $bg-color-truth;
		&:first-of-type {
			border-top-left-radius: $radius;
		}
		&:last-of-type {
			border-top-right-radius: $radius;
		}
	}

	// 内嵌em
	em {
		-webkit-text-emphasis-color: $text-color;
		        text-emphasis-color: $text-color;
	}

	img {
		opacity: 0;
		transition: opacity .15s linear;
	}

	&:hover, &:focus {
		color: white;
		a {
			color: rgb(165, 213, 255);
		}
		img {
			opacity: 1;
		}
	}
}

// Ruby
rp {
	display: inline;
	position: fixed;
	bottom: -9em;
	opacity: 0;
}
