// 着重号
em {
	font-style: normal;
	-webkit-text-emphasis: dot;
	        text-emphasis: dot;
	-webkit-text-emphasis-position: under right;
	        text-emphasis-position: under right;
}

// 黑幕
.truth {
	$bgcolor: black;
	$radius: .2rem;

	border-radius: $radius;
	box-decoration-break: clone;
	background-color: $bgcolor;
	color: transparent;
	transition: color .14s linear;

	rt {
		background-color: $bgcolor;
		border-radius: $radius $radius 0 0;
	}

	img {
		opacity: 0;
		transition: opacity .14s linear;
	}

	&:hover {
		color: white;
		img {
			opacity: 1;
		}
	}
}
