del {
	color: #666;
	text-decoration-color: black;
}

// 着重号
em {
	font-style: normal;
	-webkit-text-emphasis: dot;
	        text-emphasis: dot;
	-webkit-text-emphasis-position: under right;
	        text-emphasis-position: under right;
	// 这个逼玩意能不能不要改我行高啊！
}

// 黑幕
.truth, .truth a {
	color: transparent;
	transition: color .15s linear;
}

.truth {
	$bgcolor: black;
	$radius: .2rem;

	background-color: $bgcolor;
	border-radius: $radius;	

	// 内嵌ruby	
	&:has(> ruby:first-child) {
		border-top-left-radius: 0;
	}
	&:has(> ruby:last-child) {
		border-top-right-radius: 0;
	}
	rt {
		background-color: $bgcolor;
		&:first-of-type {
			border-top-left-radius: $radius;
		}
		&:last-of-type {
			border-top-right-radius: $radius;
		}
	}

	// 内嵌em
	em {
		-webkit-text-emphasis-color: black;
		        text-emphasis-color: black;
	}

	img {
		opacity: 0;
		transition: opacity .15s linear;
	}

	&:hover {
		color: white;
		a {
			color: rgb(165, 213, 255);
		}
		img {
			opacity: 1;
		}
	}
}

// Ruby
rp {
	display: inline;
	position: fixed;
	bottom: -9em;
	opacity: 0;
}