<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'zh-CN' }}" class="light">
  {%- include new-head.html -%}

  <body>

		<div class="site-intro">
			
			{%- if page.title -%}
				<h1>{{ page.title }}</h1>
			{%- endif -%}
			{{- content -}}
		</div>

		<div class="site-cols">
			<div class="left-panel">
				{%- include left-panel.html -%}
			</div>
	
			<div class="site-content">
				<div class="home">

					<h2>文章</h2>
					{%- if site.posts.size > 0 -%}
				
						<ul class="page-list">
							{%- for post in site.posts -%}
								<li><article {% if post.lang %}lang="{{ post.lang }}"{% endif %}>
									<header>
										<div class="image-wrapper">
											<img class="image" src="/assets/images/nopush/default.png" alt="文章图像">
											<!-- <div class="image" style="background: linear-gradient(100deg, #6278B3, #8D6D9B);"></div> -->
										</div>
										<h3>
											<a href="{{ post.url |relative_url }}">
												{{- post.title | escape -}}
											</a>
										</h3>
										<p class="post-meta">
											<time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
												{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
												{{- post.date | date: date_format -}}
											</time>
											{%- if post.author -%}
												• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
											{%- endif -%}
										</p>
									</header>
				
									<div class="excerpt">
										{{- post.excerpt
											| replace: '<h2', '<p data-element="h2"'
											| replace: '</h2>', '</i>'
											| replace: '<h3', '<p data-element="h3"'
											| replace: '</h3>', '</p>'
											| replace: '<h4', '<p data-element="h4"'
											| replace: '</h4>', '</p>'
											| replace: '<h5', '<p data-element="h5"'
											| replace: '</h5>', '</p>'
											| replace: '<h6', '<p data-element="h6"'
											| replace: '</h6>', '</p>'
										-}}
									</div>

									{%- comment %}
									<div class="post-label">
										{%- if post.categories.size > 0 -%}
											<div class="post-category-wrapper">
												分类：
													<ul class="post-category">
														{%- for category in post.categories -%}
															<li>
																<a href="#">{{ category }}</a>
															</li>
														{%- endfor -%}
													</ul>
											</div>
										{%- endif -%}
				
										{%- if post.tags.size > 0 -%}
											<div class="post-tag-wrapper">
												标签：								
													<ul class="post-tag">
														{%- for tag in post.tags -%}
															<li>
																<a href="#">{{ tag }}</a>
															</li>
														{%- endfor -%}
													</ul>
											</div>
										{%- endif -%}
									</div>
									{%- endcomment %}
				
								</article></li>
							{%- endfor -%}
						</ul>
					{%- else -%}
						<p>目前还没有文章。</p>
					{%- endif -%}
				</div>
			</div>

			<div class="right-panel">
				{%- include right-panel.html -%}
			</div>
		</div>

		{%- include new-footer.html -%}

  </body>
</html>
